<% include ./partials/header.ejs %>

<div class="container" id="bbn">
  <h2>Riddle of Maltoshi, bir adet resim ve bir adet ipucunu kullanarak cevaba ulaşmaya çalıştığınız bir bulmacadır.</h2>

  <h2>İletişim: mert.akuzum@hotmail.com</h2>
  <a id="ig" href="https://www.instagram.com/maltoshi/">Instagram</a>




</div>





<% include ./partials/footer.ejs %>
