<% include ./partials/header.ejs %>



<form action="/addquestion" method="POST">
<input type="text" name="question[text]" placeholder ="text">
<input type="text" name="question[image]" placeholder ="image">
<input type="text" name="question[answer]" placeholder ="answer">
<input type="submit" name="none">

 </form>







<% include ./partials/footer.ejs %>
